[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
patool = "==1.12"
lxml = "==4.1.1"
mosspy = "==1.0.5"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.8"
